#jira_toolkit__statistical_workload{
    width:810px;
    margin-left:-406px;
    margin-top:-260.5px;
}
#jira_toolkit__statistical_workload .jira-dialog-content{
    margin-bottom:50px;
}
#jira_toolkit__statistical_workload form{
    overflow:auto;
    position:static;
}
#jira_toolkit__statistical_workload form .form-body{
    max-height:556px;
}
#jira_toolkit__statistical_workload .field-group .field-value{
    color:#707070;
    margin-left:10px;
    font-weight:normal;
}
#jira_toolkit__statistical_workload .field-group .field-value a{
    color:#3b73af;
    font-weight:bold;
    text-decoration:underline;
}
#jira_toolkit__statistical_workload .field-group label{
    width:150px;
}
#jira_toolkit__statistical_workload .form-footer{
    height:50px;
    position:absolute;
    bottom:0;
    right:0;
    left:0;
}
#jira_toolkit__statistical_workload .issue-link-oauth-toggle{
    border-top:1px solid #DDD;
    padding-top:8px;
}
#jira_toolkit__statistical_workload .dialog-pane{
    padding-left:0;
}
